spacy==3.7.2
pydantic==1.10.13
pdfminer.six==20221105
python-docx==0.8.11
requests==2.28.2
pillow==9.4.0
scikit-learn==1.6.1
numpy==1.24.4
pandas==1.5.3
Flask==2.3.3
streamlit==1.17.0
torch==2.1.0
transformers==4.39.3
opencv-python-headless==4.7.0.72
tqdm==4.64.1
